.board{
    position: relative;
    display: grid;
    grid-template-columns: var(--quarter-tile) var(--board-size);
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8,var(--tile-size));
    grid-template-rows: repeat(8,var(--tile-size));
    width: calc(8*var(--tile-size));
}

.tile--light {
    position: relative;
    background: var(--tile-colour-light);
}

.tile--dark {
    position: relative;
    background: var(--tile-colour-dark);
}

.highlight:after {
    content: '';
    display: block;
    position: relative;
    width: calc(.5*var(--tile-size));
    height: calc(.5*var(--tile-size));
    background: var(--highlight);
    border-radius: 50%;
    left: 25%;
    top: 25%;
}

.attacking:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(.7*var(--tile-size));
    height: calc(.7*var(--tile-size));
    border-radius: 50%;
    border: 8px solid var(--highlight);
    top: 0;
    left: 0;
}