@import './baseVisualSettings.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  grid-template-columns: auto 220px;
}

button {
  background: var(--tile-colour-dark);
  color: var(--tile-colour-light);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}